<!DOCTYPE html>
<html>
  <head>
    <meta charSet='utf-8' />
    <title>Easy on the eyes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' />
    {{!-- Stylesheets injected by webpack. --}}
    {{!-- <link href='/app.css' rel='stylesheet' /> --}}
  </head>
  <body>
    <div id='root' />
    {{!-- Scripts injected by webpack. --}}
    {{!-- <script dangerouslySetInnerHTML={dataScriptBootstrap} /> --}}
    {{!-- <script src='/vendor.bundle.js' /> --}}
    {{!-- <script src='/app.bundle.js' /> --}}
  </body>
</html>
