/*
 * [JavaScript Standard Style](http://standardjs.com/)
 * using eslint tools
 *
 * Necessary dependencies:
 *
    npm install --save-dev \
        eslint \
        eslint-config-standard \
        eslint-config-standard-react \
        eslint-plugin-promise \
        eslint-plugin-react \
        eslint-plugin-standard
 *
 */
{
  "extends": ["standard", "standard-react"]
}
