<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Easy on the eyes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="/reader.css" rel="stylesheet"/>
    </head>
    <body>
        <form class="nav hide" action="javascript:void(0);">
            <label for="u">What do you want to read today?</label><br/>
            <input type="url" name="u" id="u"/>
            <input type="submit"/>
        </form>
        <div class="content"></div>
        <script>
{{!--
    Any data the server wants to provide to us. Server promises at minimum
    empty object.
--}}
var bootstrap = {{{toJSON bootstrap}}};
        </script>
        <script src="/reader.js"></script>
    </body>
</html>
